<div class="container" id="add-form-container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="tex-center">Divulgue a vaga preenchendo o formulario</h1>
           </div>

           <div id="form-box" class="col-md-12">
               <h2>Preencha os  dados da melhor forma possivel, para encontrar mais rapido seu dev!</h2>
               <form action="/add" method="POST">
                   <div class="form-group">
                       <label for="title"> Titulo da vaga: </label>
                       <input type="text" class="form-control" id="title" name="title" value="{{titleValue}}" placeholder="Digite o Titulo da vaga" required>
                       <label class="form-error-label"> {{titleError}}</label>
                       <small id="title-help" class="form-text-muted">O titulo é muito importante, seja claro e objetivo</small>
                   </div>

                   <div class="form-group">
                    <label for="description"> Descrição: </label>
                    <textarea type="text" class="form-control" id="description"  value="{{descriptionValue}}"name="description" placeholder="Descreva as atividades do desenvolvedor..." required></textarea>
                    <label class="form-error-label"> {{descriptionError}}</label>
                </div>

                <div class="form-group">
                    <label for="email"> E-mail para contato: </label>
                    <input type="email" class="form-control" id="email" value="{{emailValue}}" name="email" placeholder="Digite o E-mail para contato" required>
                    <label class="form-error-label"> {{emailError}}</label>
                </div>

                <div class="form-group">
                    <label for="salary"> Salario oferecido: </label>
                    <input type="text" class="form-control" id="salary" value="{{salaryValue}}" name="salary" placeholder="Digite o salario da vaga" required>
                    <label class="form-error-label"> {{salaryError}}</label>
                </div>

                <div class="form-group">
                    <label for="company"> Empresa Contratante: </label>
                    <input type="text" class="form-control" id="company" value="{{companyValue}}" name="company" placeholder="Digite a empresa que vai contratar" required>
                    <label class="form-error-label"> {{companyError}}</label>
                </div>

                <input type="hidden" name="new_job" value="1">

                <button type="submit" class="btn btn-primary">Enviar</button>

               </form>
           </div>
       </div>

   </div>